.city_slider_outer_container
{
    width: 100%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    position:relative;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-top:75px;
    padding: 0px;
    background: #EFEFBB;  /* fallback for old browsers */  /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-gradient(linear, right top, left top, from(#D4D3DD), to(#EFEFBB));
    background: -o-linear-gradient(right, #D4D3DD, #EFEFBB);
    background: linear-gradient(to left, #D4D3DD, #EFEFBB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.city_slider_body_container
{
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin:10px 5px;
    padding: 0px;
}

.city_slider_wrapper
{
    width: 100%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin:0px;
    padding: 0px;
}

.city_slider_body_wrapper
{
    overflow: scroll;
}
.city_slider_slide
{
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    margin: 0px 10px;
    padding:2px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.city_slider_slide img
{
    width:50px;
    height:50px;
    border-radius: 100%;
    overflow: hidden;
    margin: auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.city_slider_slide h3
{
    width:100%;
    margin:3px;
    padding:3px;
    font-size: .8em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-align: center;
}

.swiper-container {
    width: 100%;
    height: 100%;
  }
  .swiper-slide {
    width: max-content;
    text-align: center;
    font-size: 18px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
